- form_for @user, :user do |form|
  %ol.formList
    %li
      = form.label :username, "Username"
      = form.text_field :username
    %li
      = form.label :email, "Email"
      = form.text_field :email
    %li
      = form.label :password, "Password"
      = form.password_field :password
    %li
      = form.label :password_confirmation, "Password confirmation"
      = form.password_field :password_confirmation
    %li
      = form.submit "Submit"
